!!! 5
%html
  / https://nicepage.com/st/12379/workshop-pottery-art-website-template
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title kt3
  %link{href: "style.css", rel: "stylesheet"}/
  %body
    %section.hero
      %h1.hero__title Pottery Studio
      %p.hero__text
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis officiis rem quis.
        Mollitia
        facere quas repellat asperiores, in tenetur illum?
      %a.hero__btn.btn{href: "#"} join today
    %section.about
      .about__block
        %h3.about__title About our studio
        %p.about__text
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et mollitia sequi, earum
          itaque unde enim ducimus assumenda, quibusdam inventore sit esse natus distinctio. Tenetur ab quod eum
          officia possimus? Architecto?
      .about__block.about__block_bgBlack
        %h3.about__title Registration open
        %p.about__text
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et mollitia sequi, earum
        %a.about_btn.btn{href: "#"} i want to go